<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <meta name="description" content="" />
    <meta name="author" content="Todd McAlinden" />

    <!-- Favicon + Apple Touch -->

    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="manifest" href="">
    <link rel="mask-icon" href="">
    <meta name="theme-color" content="">


    
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>

    {{ block "main" . }}{{end}}

    <script src="app.js"></script>
  </body>
</html>
