/* About
   ============================================================================= */

.about{

    width: 100%;
    height: 70vh;
    display: flex;

    @include medium-computer{

        height: 85vh;
    }

    @include small-computer{

        height: 90vh;
    }

    @include tablet{

       height: 100vh; 
       display: flex;
       flex-direction: column; 
    }

    @include mobile{

        height: 115vh;
    }

    @include small-mobile{

        height: 170vh;
    }
}

.about__image-section{

    width: 50%;
    height: 100%;
    background-image: url(../images/about_background.jpg);
    @include background;
    box-sizing: border-box;
    border: 15px solid $primary-color; 
    border-right: 0px;

    @include tablet{

        width: 100%;
        height: 50%;
        border: 15px solid $primary-color; 
        border-bottom: 0px;
    }

    @include mobile{

        height: 45%;
    }

    @include small-mobile{

        height: 40%;
    }
}

.about__text-section{

    width: 50%;
    height: 100%;
    @include flex-column-center;
    background-color: $primary-color;

    @include tablet{

        width: 100%;
        height: 50%;
    }

    @include mobile{

        height: 55%;
    }

    @include small-mobile{

        height: 60%;
    }
}   

.about__text-section-container{

    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include small-computer{

        width: 70%;
    }
}

.text-section-container__text-header-container{

    margin-bottom: 1rem;
}

.text-header-container__header{

    margin-bottom: 0;
}

.text-header-container__header--sub{

    border-bottom: 5px solid $secondary-color;
    padding-bottom: 10px;
}

.about__contact{

    width: auto;
    height: auto;
    @include flex-row-center;
    transition: all ease-in-out 0.3s;
}

.about__contact:hover{

    transform: scale(1.05);
}

.about__contact-icon{

    width: 0.8rem;
    height: 0.8rem;
    margin-left: 20px;
}