/* Contact
   ============================================================================= */

.contact{

    width: 100%;
    height: auto;
    display: flex;

    @include medium-computer{


    }

    @include mobile{

        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
}

//map

.contact-map{

    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    @include mobile{

        width: 100%;
        height: 600px;
    }
}

#map{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

//form

.contact-form__container{

    width: 50%;
    height: 100%;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 3rem 0;

    @include mobile{

        width: 100%;
        height: 50%;
    }
}

#contact-form-item{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact-form__container h2{

    padding-bottom: 2rem;
}

.contact-facebook-container{

    width: auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-self: flex-end;  
}

.contact-form{

    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

form{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.feedback-input-hidden{

    display: none;
}

.feedback-input{

    background-color: transparent;
    border: none;
    border-bottom: 3px solid $accent-color-dark;
    transition: all ease 0.3s;
    margin-bottom: 3rem;
    padding-bottom: 10px;
    outline: 0;
}

.recpatcha-input{

    background-color: transparent;
    border: none;
    margin-bottom: 3rem;
    outline: 0;
}

::placeholder { 
    color: $accent-color-dark;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $accent-color-dark;
}

::-ms-input-placeholder { 
    color: $accent-color-dark;
}

.feedback-input:focus{

    border-color: $secondary-color;
}

.submit-form{

    display: none;
}

.send-icon{

    width: 3rem;
    height: auto;
    pointer-events: bounding-box;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;

    @include tablet{

        width: 2.5rem;
        height: auto;
    }
}

.contact-form__send{

    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}