/* Navigation
   ============================================================================= */


/* Footer
   ============================================================================= */


footer{

    width: 100%;
    height: 7vh;
    background-color: $secondary-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__arrow-container{

    margin: auto;
}

.up-arrow{

    width: 2rem;
    height: 2rem;
}

.footer__facebook-container{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-facebook{

    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}