/* Services
   ============================================================================= */

.service{

    width: 100%;
    height: 70%;
    @include flex-column-center;

    @include mobile{

        height: 90%;
    }

    @include small-mobile{

        height: 110%;
    }
}

.service__header{

    position: relative;
    bottom: 3.5rem;
    margin: 0;
}

.service-container{

    width: 100%;
    height: 100%;
    background-color: $primary-color;
}

.swiper-slide{

    display: flex;

    @include mobile{

        display: flex;
        flex-direction: column;
    }
}

.service-text{

    width: 50%;
    height: 100%;
    @include flex-column-center;

    @include mobile{

        width: 100%;
        height: 50%;
    }
}

.service-text__container{

    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include small-computer{

        width: 70%;
    }
}

.service-text__header-container{

    margin-bottom: 1rem;
}

.service-text__header{

    margin: 0;
}

.service-text__header--sub{

    border-bottom: 5px solid $secondary-color;
    padding-bottom: 10px;
}

.service-image{

    width: 50%;
    height: 100%;
    @include flex-column-center;
    box-sizing: border-box;
    border: 15px solid $primary-color; 
    border-left: 0px;

    @include mobile{

        width: 100%;
        height: 50%;
        border: 15px solid $primary-color; 
        border-top: 0px;
    }
}

.service-image__media{

    width: 100%;
    height: 100%;
}

.swiper-button-next{

    width: 2.5rem;
    height: 2.5rem;

    @include tablet{

        width: 2rem;
        height: 2rem;
    }
}

.swiper-button-prev{

    width: 2.5rem;
    height: 2.5rem;

    @include tablet{

        width: 2rem;
        height: 2rem;
    }
}

.timber-image{

    background-image: url(../images/timber_fence_retaining.jpg);
    @include background;
}

.coloursteel-image{

    background-image: url(../images/colorbond.jpg);
    @include background;
}

.decking-image{

    background-image: url(../images/timber_deck.jpg);
    @include background;
}

.aluminium-image{

    background-image: url(../images/pool_fencing.jpg);
    @include background;
}

.retaining-image{

    background-image: url(../images/timber_retaining.jpg);
    @include background;
}