/* Services
   ============================================================================= */

.service{

    width: 100%;
    height: 70vh;
    display: flex;

    @include medium-computer{

        height: 80vh;
    }

    @include small-computer{

        height: 90vh;
    }

    @include tablet{

       display: flex;
       flex-direction: column; 
    }

    @include extra-small-mobile{

        height: 130vh;
    }

}

.service-container{

    width: 100%;
    height: 100%;
    background-color: $primary-color;
}

.swiper-slide{

    display: flex;

    @include tablet{

        display: flex;
        flex-direction: column;
    }
}

.service-text{

    width: 50%;
    height: 100%;
    @include flex-column-center;

    @include tablet{

        width: 100%;
        height: 50%;
    }
}

.service-text__container{

    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include small-computer{

        width: 70%;
    }
}

.service-text__container li p{

    margin-top: 1rem;
}

.service-text__header-container{

    margin-bottom: 1rem;
}

.service-text__header{

    margin: 0;
}

.service-text__header--sub{

    border-bottom: 5px solid $secondary-color;
    padding-bottom: 10px;
}

.service-image{

    width: 50%;
    height: 100%;
    @include flex-column-center;
    box-sizing: border-box;
    border: 15px solid $primary-color; 
    border-left: 0px;

    @include tablet{

        width: 100%;
        height: 50%;
        border: 15px solid $primary-color; 
        border-top: 0px;
    }
}

.service-image__media{

    width: 100%;
    height: 100%;
}

.swiper-button-next{

    width: 2.5rem;
    height: 2.5rem;

    @include tablet{

        width: 2rem;
        height: 2rem;
    }
}

.swiper-button-prev{

    width: 2.5rem;
    height: 2.5rem;

    @include tablet{

        width: 2rem;
        height: 2rem;
    }
}

.timber-image{

    background-image: url(../images/timber_fence_retaining_src.jpg);
    @include background;

    @include tablet{

        background-image: url(../images/timber_fence_retaining_tablet.jpg);
    }

    @include mobile{

        background-image: url(../images/timber_fence_retaining_mobile.jpg);
    }
}

.coloursteel-image{

    background-image: url(../images/colourbond_fence_src.jpg);
    @include background;

    @include tablet{

        background-image: url(../images/colourbond_fence_tablet.jpg);
    }

    @include mobile{

        background-image: url(../images/colourbond_fence_mobile.jpg);
    }
}

.decking-image{

    background-image: url(../images/timber_deck_src.jpg);
    @include background;

    @include tablet{

        background-image: url(../images/timber_deck_tablet.jpg);
    }

    @include mobile{

        background-image: url(../images/timber_deck_mobile.jpg);
    }
}

.aluminium-image{

    background-image: url(../images/pool_fencing_src.jpg);
    @include background;

    @include tablet{

        background-image: url(../images/pool_fencing_tablet.jpg);
    }

    @include mobile{

        background-image: url(../images/pool_fencing_mobile.jpg);
    }
}

.retaining-image{

    background-image: url(../images/timber_retaining_src.jpg);
    @include background;

    @include tablet{

        background-image: url(../images/timber_retaining_tablet.jpg);
    }

    @include mobile{

        background-image: url(../images/timber_retaining_mobile.jpg);
    }
}





.gallery{

    width: 100%;
    padding: 5rem 0; 
    @include flex-row-center;


    @include small-computer{


    }

    @include tablet{


    }

    @include mobile{

        height: auto;

    }
}

.gallery-container{

    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__image-grid{

    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
 
.card__img{

    width: 20%;
    height: auto;
    z-index: 1;
    cursor: pointer;
    transition: ease 0.3s;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin: 1rem 1rem 1rem 1rem;

    @include medium-computer{

        width: calc(80%/3);
    }

    @include tablet{

        width: calc(80%/2);
    }

    @include mobile{

        width: 70%;
    }

    @include small-mobile{

        width: 90%;
    }
} 