/* Imports
   ============================================================================= */

   @import 'imports/reset';
   @import 'imports/global';
   @import 'imports/responsive_type';
   @import 'imports/navigation';
   @import 'imports/landing';
   @import 'imports/about';
   @import 'imports/testimonial';
   @import 'imports/swiper';
   @import 'imports/service';
   @import 'imports/gallery';
   @import 'imports/quote';
   @import 'imports/contact';

/* ============================================================================= */

//Virtual keyboard fix

@media only screen and (max-width: 768px) {
    
    body.when-keyboard-showing.contact{

        height: 1500px;
    }
    body.when-keyboard-showing.quote{

        height: 1500px;
    }
    body.when-keyboard-showing.gallery{

        height: 1500px;
    }
}

















